<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p>>View the Project on GitHub <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://www.instagram.com/blackhat_academy/" target="_blank">Instagram <strong>Media</strong></a></li>
          <li><a href="mailto:blackhathackeracademy@gmail.com?subject=enquiry_of_BH-100&body=edit-this..!" target="_blank">Mail<strong>Email Us!</strong></a></li>
          <li><a href="{{ site.github.owner_url }}" target="_blank">View On <strong>GitHub</strong></a></li>
        </ul>
        <ul class="downloads">
          <li><a href="tel:+919656596391" target="_blank">Call us<strong> Vaishnavu</strong></a></li>
          <li><a href="tel:+919744994000" target="_blank">Call us<strong> Muhammad</strong></a></li>
          <li><a href="" target="_blank">What's App <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

        
      </section>
      <footer>
        {% if site.github.is_project_page %}

        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
